#game {
    width:800px;
    margin:0 auto;
}

.card {
    width:200px;
    height:200px;
    display:inline-block;
    background: blue;
    margin: 10px;
    box-sizing: border-box;
}

.card img {
    width:100%;
    height:100%;
}
<<<<<<< HEAD

input {
    margin:0 auto;
}

#endScreen {
    margin:0 auto;
}
=======
>>>>>>> 54d25423fac2857997e02ed1dcbba6760bbad9c3
