body { 
    background-color: black;
    color:white;
}

img {
    margin-right: auto;
    margin-left: auto;
    margin-top:2%;
    display:none;
}

p {
    font-size:1.5em;
    text-align: center;
}

#submit {
    width:200px;
    height:60px;
    font-size: 2em;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 3%;
    display:block;
}

#question {
    width:300px;
    height:3.5em;
}

.section1 {
    margin-top:3%;
    text-align: center;
}

p {
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
}

h1 {
    text-align: center;
    font-size:3em;
}

.inline {
    display:block;
}

.float {
    width:100px;
    text-align:left;
    display:inline;
    margin:0;
}

#click1, #click2, #click3, #click4, #click5 {
    font-size:2em;
    text-decoration: none;
    cursor:pointer;
    margin-right:10px;
}

.answers {
    font-size:2.5em;
}

#answer1 {
    color:lightblue;
}

#answer2 {
    color:lightgreen;
}
#answer3 {
    color:mediumpurple;
}
#answer4 {
    color:orange;
}
#answer5 {
    color:yellow;
}
