body { 
    background-color: black;
    color:white;
}

select {
    width:70px;
    height:40px;
    font-size:1.5em;
}

button {
    width:50px;
    height:30px;
    font-size:1.2em;
}


#submit {
    width:300px;
    height:75px;
    font-size: 2em;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 3%;
    display:block;
}

.section1, .section2, .section3 {
    text-align: center;
}

.section1 {
    margin-top:3%;
}

p {
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
}

h1 {
    text-align: center;
    font-size:3em;
}