body { 
    background-color: black;
    color:white;
}
p {
    font-size:1.5em;
    text-align: center;
}


h1 {
    text-align: center;
    font-size:3em;
}


#todo {
    margin-left:15%;
    width:50%;
}

.message {
    margin:0;
    width:80%;
    margin-left:10%;
}

.text {
    text-align:left;
    padding:1%;
    padding-left:5%;
    padding-right:5%;
    display:inline-block;
    word-wrap: break-word; 
    background-color:#262626;
    width:70%;
    
}

.delete{
    display:inline-block;
    margin:auto;
    padding:0;
    font-size:1.5em;
    padding-top:6px;
    padding-bottom:37px;
    padding-left:10px;
    padding-right:10px;
    height:25px;
    text-align:center;
}

#addList{
    display:inline-block;
    margin:auto;
    padding:0;
    padding-top:8px;
    padding-bottom:5px;
    padding-right:10px;
    padding-left:10px;
/*    width:10%;*/
/*    height:25px;*/
    text-align:center;
    font-size:2em;
}

#todo {
    height:1.2em;
    font-size:2.3em;
}
